<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Nuevo Producto</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

    <link
    rel="icon"
    type="image/png"
    href="{{ url_for('static', filename='css/icono.png') }}"
    >

</head>
<body>

    <div class="login-container">

        <form
            method="POST"
            enctype="multipart/form-data"
            class="login-form"
        >

            <h1>Nuevo producto</h1>

            <p class="login-subtitle">
                Registra un nuevo postre para mostrarlo en la tienda.
            </p>

            {% if error %}
                <div class="error-message">
                    {{ error }}
                </div>
            {% endif %}

            <label>
                Nombre del producto <span class="required">*</span>
            </label>

            <input
                type="text"
                name="name"
                placeholder="Ejemplo: Tres leches"
                minlength="3"
                maxlength="80"
                required
            >

            <label>
                Descripción
            </label>

            <textarea
                name="description"
                placeholder="Ingredientes o descripción del producto"
                rows="5"
            ></textarea>

            <label>
                Precio <span class="required">*</span>
            </label>

            <input
                type="number"
                name="price"
                placeholder="Ejemplo: 5000"
                min="1"
                max="99999999"
                step="1"
                required
            >

            <label>
                Imagen <span class="required">*</span>
            </label>

            <input
                type="file"
                name="image"
                accept=".png,.jpg,.jpeg,.webp"
                required
            >

            <button type="submit">
                Crear producto
            </button>

            <a
                href="{{ url_for('dashboard') }}"
                class="back-btn"
            >
                Volver al panel
            </a>

        </form>

    </div>

</body>
</html>