<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Edit Product</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

    <link
    rel="icon"
    type="image/png"
    href="{{ url_for('static', filename='css/icono.png') }}"
    >

</head>
<body>

    <div class="login-container">

        <form
            method="POST"
            enctype="multipart/form-data"
            class="login-form"
        >

            <h1>Editar Producto</h1>

            {% if error %}
                <div class="error-message">
                    {{ error }}
                </div>
            {% endif %}

            <input
                type="text"
                name="name"
                value="{{ product.name }}"
                minlength="3"
                maxlength="80"
                required
            >

            <textarea
                name="description"
                rows="5"
            >{{ product.description }}</textarea>

            <input
                type="number"
                name="price"
                value="{{ product.price|int }}"
                min="1"
                max="99999999"
                step="1"
                onwheel="this.blur()"
                required
            >

            <input
                type="file"
                name="image"
                accept="image/*"
            >

            <button type="submit">
                Save Changes
            </button>

            <a
                href="{{ url_for('dashboard') }}"
                class="back-btn"
            >
                Volver al panel
            </a>
        </form>

    </div>

</body>
</html>